/* Estilos generales */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #222;
}


/* Contenedor principal */
main {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    flex: 1; /* Toma todo el espacio disponible */
}


/* Cabecera */
header {
    display: grid;
    background-color: #fff;
    padding: 20px;
    grid-template-rows: auto auto; /* Dos filas: una para nav y otra para el h1 */
    gap: 20px; /* Ajusta la separación entre el nav y el h1 */
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 15px; /* Espaciado entre los enlaces de navegación */
}

h1 {
    font-size: 2em;
    margin-top: 10px;
}
h3 {
    font-size: 18px;
    margin: 10px 0;
}


/* Enlaces */
a {
    color: #1e86b0;
    text-decoration: none;
    transition: color 0.3s;
    text-decoration: underline;
}
a:hover {
    color: #157196;
}

/* Secciones */
section {
    padding: 40px 20px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}



/* Seccion individuales */
.sección li {
    font-size: 24px;
    padding: 8px 0;
    font-weight: bold;
    color: #444;
    display: flex;
    align-items: center;
}


/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #1e86b0;
    color: white;
    text-transform: uppercase;
}
caption {
    font-size: 18px;      
    font-weight: bold;     
    color: #333;      
    text-align: center;   
    padding: 10px;
    background-color: #f8f8f8; /* Fondo del título */
    border-bottom: 1px solid #f8f8f8; /* Línea de separacióna */
}
.lugares-turisticos{
    font-size: 17px;
    margin-top: 18px;
    margin-bottom: 20px;
}

/* Imágenes */
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.05);
}


.imagen-tabla {
    max-width: 70%;
    height: auto;
    display: block;
    margin: auto;  /* Centra la imagen dentro de la celda */
}


#main-video {
    width: 100%;
    max-width: none;
}

#main-video #video-youtube {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: auto;
    aspect-ratio: 16/9;
}


/* Formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin: auto;
}
input, textarea, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.datos-separados {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre los elementos */
}


button {
    background-color: #1e86b0;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #157196;
}


/* Footer */
footer {
    background-color: #525050;
    color: white;
    text-align: center;
    padding: 20px;
}

summary {
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Añadido para la práctica 3 */
/*Estilos de alquileres de bicis y consejos - DUMMYJSON*/
#coches-contenedor, #consejos-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.coche, .consejo {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 250px;
    text-align: center;
}
.coche:hover {
    transform: scale(1.05);
}


.coche .precio {
    font-weight: bold;
    color: #1e86b0;
    font-size: 16px;
}


/*Buscador por precio */
.buscador {
    margin: 20px 0;
}

.buscador input {
    padding: 8px;
    font-size: 16px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}